In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [8]:
# your code here
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [9]:
# your code here
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [11]:
# your code here
print(f"There are {len(df['method'].unique())} unique methods which are {df['method'].unique()}.")

There are 10 unique methods which are ['Radial Velocity' 'Imaging' 'Eclipse Timing Variations' 'Transit'
 'Astrometry' 'Transit Timing Variations' 'Orbital Brightness Modulation'
 'Microlensing' 'Pulsar Timing' 'Pulsation Timing Variations'].

### What is the number of data collected in each year?

In [22]:
# your code here
for i in df["year"].unique():
    print(f"In {i}, {len(df.loc[df['year'] == i])} data collected.")

In 2006, 31 data collected.
In 2008, 74 data collected.
In 2011, 185 data collected.
In 2007, 53 data collected.
In 2009, 98 data collected.
In 2002, 32 data collected.
In 1996, 6 data collected.
In 2010, 102 data collected.
In 2001, 12 data collected.
In 1995, 1 data collected.
In 2004, 26 data collected.
In 2012, 140 data collected.
In 2013, 118 data collected.
In 2005, 39 data collected.
In 2000, 16 data collected.
In 2003, 25 data collected.
In 1997, 1 data collected.
In 1999, 15 data collected.
In 2014, 52 data collected.
In 1998, 5 data collected.
In 1989, 1 data collected.
In 1992, 2 data collected.
In 1994, 1 data collected.

### Which columns have missing values and how many?

In [13]:
# your code here
for i in df.columns[df.isnull().any()].to_list():
    print(f" Column '{i}' has {df[i].isnull().sum()} missing values.")

 Column 'orbital_period' has 43 missing values.
 Column 'mass' has 522 missing values.
 Column 'distance' has 227 missing values.

### Write docstring for the function below.

In [53]:
def do_something(x, y, z):
    """
    Perform and return the result of the following operation on three input values (x, y ,z):

    1/(1/x + 1/y + 1/z)

    Note:

    Ensure that none of the input values (x, y, z) is zero to avoid
    ZeroDivisionError.
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [54]:
# your code here
def doc(func):
    print(func.__doc__)
doc(do_something)

    Perform and return the result of the following operation on three input values (x, y ,z):

    1/(1/x + 1/y + 1/z)

    Note:

    Ensure that none of the input values (x, y, z) is zero to avoid
    ZeroDivisionError.

### Call do_something function for the (11,13,15) values and save it as result

In [16]:
# your code here
result = do_something(11, 13, 15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [17]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
# your code here
result = int(result)
s = s.split(" ")
print(s[result])

and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [18]:
import random

arr = [random.randint(1, 100) for i in range(10)]

# your code here
print(arr)
j = 0
while j < 9:
    if arr[j+1] < arr[j]:
        temp = arr[j]
        arr[j] = arr[j+1]
        arr[j+1] = temp
        j = 0
    else:
        j += 1 

print(arr)

[86, 52, 58, 13, 100, 52, 53, 85, 31, 75]
[13, 31, 52, 52, 53, 58, 75, 85, 86, 100]

### define a recursive function to calculate input numbers factorial named factorial

In [19]:
# your code here
def factorial(num):
    result = 1
    while num > 0:
        result *= num
        num -= 1
    return result
print(factorial(5))

120

### define a function to merge the given arrays and calculate the median named twoMedian

In [52]:
# your code here
def twoMedian(array1, array2):
    merged_array = np.concatenate((array1,array2), axis = 0)
    median_of_array = np.median(merged_array, axis=0)
    return median_of_array
print(twoMedian(np.array([1,2,3,4,5,6]), np.array([1,3,5,7,9])))

4.0